body{
    margin: 0;
  padding: 0;
  border: 0;
}

.intro {
    text-align: center;
    
  }

  .bg-image{
    background-size: cover;
  }

  .container-fluid{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 197, 206);
    border-radius: 10px;
  }

  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    width: 600px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact {
    font-size: 60px;
    font-weight: bolder;
    font-family: Pristina;
    color: yellowgreen;
    margin-top: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507),
                1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px whitesmoke,
                1px 4px 1px yellowgreen,
                1px 5px 1px black,
                1px 6px 1px black;
    letter-spacing: 3.9px;
  }

  .about {
    font-size: 60px;
    font-weight: bolder;
    font-family: Pristina;
    color: yellowgreen;
    margin-top: -20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507),
                1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px whitesmoke,
                1px 4px 1px yellowgreen,
                1px 5px 1px black,
                1px 6px 1px black;
    letter-spacing: 3.9px;
  }
  .quote{
      margin-top: 50px;
      font-style: italic;
  }
  #quote{
      margin-top: -5px;
  }


  .nav{
      width: 100%;
      background: linear-gradient(#2b5876, #4e4376);
      height: 80px;
  }

  ul{
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
  }

  ul li{
      float: left;
      margin-top: 20px;
  }

  ul li a{
      width: 150px;
      display: block;
      text-decoration: none;
      font-size: 30px;
      text-align: center;
      font-weight: bolder;
      font-family: Pristina;
      color: cyan;
      letter-spacing: 2.5px;
  }

  a:hover{
      color: darkturquoise;
  }

  ul li ul {
    background: linear-gradient(to top, #2b5876, #4e4376);
  }

  ul li ul li{
      float: none;
  }

  ul li ul {
      display: none;
  }

  ul li:hover ul{
      display: block;
  }

  .copyright{
    text-align: center;
    
  }

  strong{
      color: cyan;
      font-family: calibri;
  }

  footer {
    font-size: 17px;
    background: linear-gradient(#2b5876, #4e4376);
    padding: 5px;
  }

  input{
      width: 300px;
      height: 25px;
  }

  form{
      margin-top: -30px;
      margin-bottom: -100px;
  }

  .message, .name, .email {
      margin-bottom: 20px;
  }

  .btn {
    background: rgb(1, 84, 85);
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: cambria;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 6px;
    border-radius: 3px;
    margin-right: -194px;
    margin-top: -100px;
  }

  #img-fb {
    margin-top: 110px;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#img-ig {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
















  
  